<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>teste de banco de dados</title>
     <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/circle-geometric-blue-round-37921.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet"></head>
<body>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body{
font-family: 'Fredoka', sans-serif;
        }
    </style>

    {{{body}}}

</body>
</html>
